table tr td.td-right, table th.th-right{
    width: 20%;
}

table tr td.td-date, table th.th-date{
    width: 15%;
}

.left{
    float: left;
    width: 60%;
}

.right{
    float:right;
    width: 40%;
    text-align: right;
}

.table-wrapped{
    table-layout: fixed;
}

.icon-row{
  margin-left: 0px;
}

.resize-emoji{
  width: 10%;
}

.nav-login{
    top:200px;
    position: absolute;
    width:100%;
}

.login-card{
    margin-left:250px;
    margin-top:150px;
}

#datepicker{
    background-color: #fff;
    cursor: auto;
}

.picker__select--year, .picker__select--month{
    height: 40px!important;
}

table tr.tr-deactive{
    background-color: #e4e4e4!important;
}